body {
    background-color: black;
    color: white;
    text-align: center;
  }
  
  textarea {

    display: none;
    background-color: gray;
    color: white; 
    text-align: left;
    border: 2 solid red;

  }
  #file-path {
    background-color: black;
    color: goldenrod; 
    text-align: left;
    border: 1 solid goldenrod;
  }