body {
    background-color: black;
    color: white;
    text-align: center;
  }
  
  #code {
width: 900px;
height: 900px;
    display: none;
    background-color: gray;
    color: white; 
    text-align: left;
    border: 1 solid red;

  }
  #file-path {
    background-color: black;
    color: goldenrod; 
    text-align: left;
    border: 1 solid goldenrod;
  }